* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* background pic  */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(83, 102, 156, 0.7),
      rgba(10, 27, 97, 0.7)
    ),
    url(images/gym_view.jpg);
  background-position: center;
  background-size: cover;
  /* basically saying cover entire page with image  */
  position: relative;
}

/* navbar */
.logo {
  width: 15vw;
  mix-blend-mode: multiply;
  position: absolute;
  top: -15px;
  left: -7px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
}

.nav-links {
  text-align: right;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}
.nav-links ul li {
  list-style: none;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: lightskyblue;
  /* border-radius: 25%; */
  display: block;
  margin: auto;
  transition: 0.4s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

/* navbar hamburger  */
.hamburger {
  width: 1.5rem;
  height: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  transition: all 0.5s ease;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10%;
}
.toggle .bar1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.toggle .bar2 {
  opacity: 0;
}
.toggle .bar3 {
  transform: rotate(-45deg) translate(6px, -7px);
}

/* textbox  */
.textbox {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.textbox h1 {
  font-size: 2.5rem;
}
.textbox p {
  font-size: 1rem;
  margin: 0.75rem 0 1.5rem;
}

/* button under textbox  */
.action-btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 1rem;
}
.action-btn:hover {
  color: black;
  background-color: white;
}

/* responsive mobile  */
@media (max-width: 700px) {
  .textbox h1 {
    font-size: 5vw;
  }
  .textbox p {
    font-size: 2vw;
    margin: 0.75rem 0 1.5rem;
  }
  .nav-links ul li {
    display: block;
  }
  nav {
    background: rgb(20, 45, 144);
    height: 30px;
  }
  .logo {
    width: 100px;
  }
  .nav-links {
    position: absolute;
    background: rgb(20, 45, 144);
    height: 100vh;
    width: 50%;
    text-align: left;
    z-index: 2;
    top: 8.5vh;
    right: 0;
    transform: translateX(100%);
    transition: transform 1s;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .hamburger {
    display: flex;
  }
  .nav-links.active {
    transform: translateX(0%);
    transition: transform 1s;
  }
}
